<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<form
  class="d-flex flex-column justify-content-center"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
  *transloco="let t; prefix: 'password-change'"
>
  <h2 class="text-center my-2">{{ t("password-change") }}</h2>
  <div class="form d-flex flex-column justify-content-center container">
    <mat-form-field class="my-1" appearance="outline">
      <mat-label for="oldPassword">{{ t("old-password") }}</mat-label>
      <input
        matInput
        type="text"
        id="oldPassword"
        type="password"
        formControlName="oldPassword"
        class="form-control"
      />
      <mat-error *ngIf="oldPassword.errors?.['maxlength']">
        Max length for password is {{ passwordValidators.maxLength }}
      </mat-error>
      <mat-error *ngIf="oldPassword.errors?.['minlength']">
        Min length for password is {{ passwordValidators.minLength }}
      </mat-error>
      <mat-error *ngIf="oldPassword.errors?.['notMatch']">
        {{ t("wrong-password") }}</mat-error
      >
    </mat-form-field>

    <mat-form-field class="my-1" appearance="outline">
      <mat-label for="password">{{ t("new-password") }}</mat-label>
      <input
        matInput
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />

      <mat-error
        *ngIf="!password.errors?.['maxlength'] && !password.errors?.['minlength'] && password.errors?.['pattern']"
      >
        Password should contain one lowercas, one uppercase and special sign
      </mat-error>
      <mat-error *ngIf="password.errors?.['maxlength']">
        Max length for password is {{ passwordValidators.maxLength }}
      </mat-error>
      <mat-error *ngIf="password.errors?.['minlength']">
        Min length for password is {{ passwordValidators.minLength }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="my-1" appearance="outline">
      <mat-label for="passwordConfirmation">{{
        t("confirm-password")
      }}</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm your password"
        id="passwordConfirmation"
        formControlName="passwordConfirmation"
        class="form-control"
      />
      <mat-error *ngIf="passwordConfirmation.errors?.['noMatch']"
        >Passwords are not match</mat-error
      >
    </mat-form-field>

    <button
      class="btn btn-success my-2"
      type="button"
      type="submit"
      [disabled]="myForm.invalid"
    >
      {{ t("update-password") | uppercase }}
    </button>
  </div>
</form>
