<ng-container *transloco="let t; prefix: 'top-bar'">
  <nav class="navbar border-bottom navbar-light">
    <div class="container d-flex aling-items-center">
      <a routerLink="home" class="navbar-brand d-flex aling-items-center">
        My <mat-icon> directions_car</mat-icon> log</a
      >

      <div *ngIf="!isLoggedIn" class="d-flex">
        <select [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
          <option value="en">EN</option>
          <option value="pl">PL</option>
        </select>
        <button routerLink="login" class="btn btn-secondary">
          {{ t("sign-in") }}
        </button>
        <button routerLink="registration" class="btn btn-primary">
          {{ t("sign-up") }}
        </button>
      </div>

      <div *ngIf="isLoggedIn" class="d-flex">
        <button
          routerLink="login"
          class="btn btn-secondary"
          (click)="onLogout()"
        >
          {{ t("logout") }}
        </button>
        <a>{{ username }}</a>
      </div>
    </div>
  </nav>
</ng-container>
