<ng-container *transloco="let t; prefix: 'top-bar'">
  <nav class="navbar border-bottom navbar-light">
    <div class="container d-flex aling-items-center">
      <a routerLink="home" class="navbar-brand d-flex aling-items-center">
        My <mat-icon> directions_car</mat-icon> log</a
      >

      <div *ngIf="!isLoggedIn" class="d-flex align-items-center">
        <app-language-option></app-language-option>
        <button routerLink="login" class="btn btn-secondary">
          {{ t("sign-in") }}
        </button>
        <button routerLink="registration" class="btn btn-primary">
          {{ t("sign-up") }}
        </button>
      </div>

      <div *ngIf="isLoggedIn" class="d-flex">
        <button mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
        <mat-menu #menu="matMenu">
          <button (click)="goToUserDetails()" mat-menu-item>
            {{ t("settings") }}
          </button>
          <button (click)="onLogout()" mat-menu-item>{{ t("logout") }}</button>
        </mat-menu>
      </div>
    </div>
  </nav>
</ng-container>
