<form
  class="d-flex flex-column justify-content-center"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
>
  <h2 class="text-center my-2">Sign in</h2>
  <div class="form d-flex flex-column justify-content-center container">
    <mat-form-field class="my-1" appearance="outline">
      <mat-label for="login">Login:</mat-label>
      <input
        matInput
        placeholder="Type your login"
        type="text"
        id="login"
        formControlName="login"
        class="form-control"
      />
      <mat-error *ngIf="login.errors?.['notExist']"> Wrong user </mat-error>
    </mat-form-field>

    <mat-form-field class="my-1" appearance="outline">
      <mat-label for="password">Password:</mat-label>
      <input
        matInput
        placeholder="Type your password"
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <mat-error *ngIf="password.errors?.['notMatch']">
        Wrong password
      </mat-error>
    </mat-form-field>

    <button
      class="btn btn-success my-2"
      type="button"
      type="submit"
      [disabled]="myForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
